# Guided Project: Exploring eBay Car Sales Data


In this project, we'll work with a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.

The dataset was originally scraped and uploaded to Kaggle. We've made a few modifications from the original dataset that was uploaded to Kaggle:

We sampled 50,000 data points from the full dataset, to ensure your code runs quickly in our hosted environment We dirtied the dataset a bit to more closely resemble what you would expect from a scraped dataset (the version uploaded to Kaggle was cleaned to be easier to work with) The data dictionary provided with data is as follows:

1. dateCrawled - When this ad was first crawled. All field-values are taken 2 from this date.
2. name - Name of the car.
3. seller - Whether the seller is private or a dealer.
4. offerType - The type of listing
5. price - The price on the ad to sell the car.
6. abtest - Whether the listing is included in an A/B test.
7. vehicleType - The vehicle Type.
8. yearOfRegistration - The year in which the car was first registered.
9. gearbox - The transmission type.
10. powerPS - The power of the car in PS.
11. model - The car model name.
12. kilometer - How many kilometers the car has driven.
13. monthOfRegistration - The month in which the car was first registered.

f* uelType - What type of fuel the car uses.
1. brand - The brand of the car.
2. notRepairedDamage - If the car has a damage which is not yet repaired.
3. dateCreated - The date on which the eBay listing was created.
4. nrOfPictures - The number of pictures in the ad.
5. postalCode - The postal code for the location of the vehicle.
6. lastSeenOnline - When the crawler saw this ad last online.

The aim of this project is to clean the data and analyze the included used car listings. You'll also become familiar with some of the unique benefits jupyter notebook provides for pandas.

Let's start by importing the libraries we need and reading the dataset into pandas.

In [1]:
import pandas as pd
import numpy as np

In [2]:
autos = pd.read_csv('autos.csv', encoding = 'Latin-1')

In [3]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [5]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [6]:
autos['seller'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
49995    False
49996    False
49997    False
49998    False
49999    False
Name: seller, Length: 50000, dtype: bool

we can make the following observations:

The dataset contains 20 columns, most of which are strings.
Some columns have null values, but none have more than ~20% null values.
The column names use camelcase instead of Python's preferred snakecase, which means we can't just replace spaces with underscores.

## Cleaning Column Names

In [7]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [8]:
autos.rename ({"yearOfRegistration":"registration_year", 
                      "monthOfRegistration":"registration_month",
                      "notRepairedDamage":"unrepaired_damage",
                      "dateCreated":"ad_created", 
                      "dateCrawled":"date_crawled",
                      "vehicleType":"vehicle_type",
                      "powerPS":"power_ps",
                      "fuelType":"fuel_type",
                      "nrOfPictures":"nr_of_pictures",
                      "postalCode":"postal_code",
                      "lastSeen":"last_seen",
                      "offerType":"offer_type"}, axis = 1, inplace =True

)

In [9]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [10]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

So far, I have converted the column titles from camelcase to snakecase, for readbility and consistency with Python's preferred style.

Now let's do some basic data exploration to determine what other cleaning tasks need to be done. Initially we will look for: - Text columns where all or almost all values are the same. These can often be dropped as they don't have useful information for analysis. - Examples of numeric data stored as text which can be cleaned and converted.

## Initial Exploration and Cleaning

In [11]:
autos.describe(include = "all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-04-02 11:37:04,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Both the seller and offer_type columns appear to have the same value for nearly all rows. The registration columns and nr_of_pictures columns should be investigated further. Price and odometer columns should be cleaned and converted from text

In [12]:
autos = autos.drop(['seller','offer_type','nr_of_pictures'], axis =1)

In [13]:
autos['price'] = autos['price'].astype(str).str.replace('$','').str.replace(',','').astype(int)

C:\Users\levob\AppData\Local\Temp\ipykernel_24548\2513577202.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  autos['price'] = autos['price'].astype(str).str.replace('$','').str.replace(',','').astype(int)

In [14]:
autos['odometer'] = autos['odometer'].astype(str).str.replace('km','').str.replace(',','').astype(int)

In [15]:
autos.rename({'odometer' : 'odometer_km'}, axis = 1, inplace = True)

In [16]:
autos.head(3)

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37

### Exploring the Odometer and Price Columns

Let's continue exploring the data, specifically looking for data that doesn't look right. We'll start by analyzing the odometer_km and price columns.

In [17]:
print('The are {0} unique values.\n'.format(autos['odometer_km'].unique().shape))
print('Unique values are: \n', (autos['odometer_km'].unique()))

The are (13,) unique values.

Unique values are:
 [150000  70000  50000  80000  10000  30000 125000  90000  20000  60000
   5000 100000  40000]

In [18]:
autos['odometer_km'].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [19]:
autos['odometer_km'].value_counts(ascending= True)

10000       264
20000       784
30000       789
40000       819
5000        967
50000      1027
60000      1164
70000      1230
80000      1436
90000      1757
100000     2169
125000     5170
150000    32424
Name: odometer_km, dtype: int64

In [20]:
autos['odometer_km'].sort_index(ascending=True)

0        150000
1        150000
2         70000
3         70000
4        150000
          ...
49995    100000
49996    150000
49997      5000
49998     40000
49999    150000
Name: odometer_km, Length: 50000, dtype: int32

Based on the data, it appears that entries have pre-selected options that are rounded to the nearest "mileage" or distance. There don't appear to be any outliers that need to be dealt with.

In [21]:
print('There are {0} unique values.\n'.format(autos['price'].unique().shape))
print('Unique values are: \n', autos['price'].unique())

There are (2357,) unique values.

Unique values are:
 [ 5000  8500  8990 ...   385 22200 16995]

In [22]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [23]:
autos['price'].value_counts()

0        1421
500       781
1500      734
2500      643
1000      639
         ...
414         1
79933       1
5198        1
18890       1
16995       1
Name: price, Length: 2357, dtype: int64

In [24]:
print(autos["price"].value_counts().sort_index(ascending=True).head(20))
print(autos["price"].value_counts().sort_index(ascending=False).head(20))

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
20       4
25       5
29       1
30       7
35       1
Name: price, dtype: int64
99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price, dtype: int64

So far for price, there appear to be both extremely high values, and unbelievably low values. While keeping in mind that often a "free" item is often a strategy for sellers to get more visibility and negotiate terms after viewing the item (happens often on sites like eBay and Facebook sales), a price of zero isn't useful to any analysis. Additionally, million-dollar cars are not being sold on eBay, so high values should be thrown out. $350,000 is the last value that seems natural (values steadily rise to the point at believable intervals), so it will be the cutoff point.

In [25]:
autos = autos[autos['price'].between(1,35000)]

In [26]:
autos['price'].describe()

count    48056.000000
mean      5331.427168
std       6047.229364
min          1.000000
25%       1200.000000
50%       2999.000000
75%       7200.000000
max      35000.000000
Name: price, dtype: float64

## Exploring the date columns

In [27]:
print(autos["date_crawled"].str[:10].value_counts(normalize=True, dropna=False).sort_index())

2016-03-05    0.025366
2016-03-06    0.014067
2016-03-07    0.036083
2016-03-08    0.033378
2016-03-09    0.033149
2016-03-10    0.032233
2016-03-11    0.032483
2016-03-12    0.037082
2016-03-13    0.015690
2016-03-14    0.036603
2016-03-15    0.034293
2016-03-16    0.029653
2016-03-17    0.031630
2016-03-18    0.012860
2016-03-19    0.034689
2016-03-20    0.037872
2016-03-21    0.037144
2016-03-22    0.032920
2016-03-23    0.032233
2016-03-24    0.029278
2016-03-25    0.031526
2016-03-26    0.032379
2016-03-27    0.031047
2016-03-28    0.034793
2016-03-29    0.034189
2016-03-30    0.033752
2016-03-31    0.031775
2016-04-01    0.033607
2016-04-02    0.035438
2016-04-03    0.038684
2016-04-04    0.036582
2016-04-05    0.012922
2016-04-06    0.003184
2016-04-07    0.001415
Name: date_crawled, dtype: float64

The crawler appears to have semi-continously scraped data from the site from March 5 to April 7.

In [28]:
print(autos["date_crawled"].str[:10].value_counts(normalize=True, dropna=False).sort_values())

2016-04-07    0.001415
2016-04-06    0.003184
2016-03-18    0.012860
2016-04-05    0.012922
2016-03-06    0.014067
2016-03-13    0.015690
2016-03-05    0.025366
2016-03-24    0.029278
2016-03-16    0.029653
2016-03-27    0.031047
2016-03-25    0.031526
2016-03-17    0.031630
2016-03-31    0.031775
2016-03-23    0.032233
2016-03-10    0.032233
2016-03-26    0.032379
2016-03-11    0.032483
2016-03-22    0.032920
2016-03-09    0.033149
2016-03-08    0.033378
2016-04-01    0.033607
2016-03-30    0.033752
2016-03-29    0.034189
2016-03-15    0.034293
2016-03-19    0.034689
2016-03-28    0.034793
2016-04-02    0.035438
2016-03-07    0.036083
2016-04-04    0.036582
2016-03-14    0.036603
2016-03-12    0.037082
2016-03-21    0.037144
2016-03-20    0.037872
2016-04-03    0.038684
Name: date_crawled, dtype: float64

In [29]:
autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
2015-12-30    0.000021
                ...
2016-04-03    0.038913
2016-04-04    0.036978
2016-04-05    0.011632
2016-04-06    0.003267
2016-04-07    0.001269
Name: ad_created, Length: 75, dtype: float64

In [30]:
autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False).sort_values()

2016-02-16    0.000021
2016-02-09    0.000021
2016-01-07    0.000021
2016-02-07    0.000021
2015-12-30    0.000021
                ...
2016-03-12    0.036915
2016-04-04    0.036978
2016-03-21    0.037311
2016-03-20    0.037935
2016-04-03    0.038913
Name: ad_created, Length: 75, dtype: float64

Interestingly, it appears that more ads were created in March and April than other months included in the data.

In [31]:
autos['last_seen'].str[:10].value_counts(normalize= True, dropna = False).sort_index()

2016-03-05    0.001082
2016-03-06    0.004370
2016-03-07    0.005390
2016-03-08    0.007491
2016-03-09    0.009655
2016-03-10    0.010758
2016-03-11    0.012465
2016-03-12    0.023930
2016-03-13    0.008948
2016-03-14    0.012631
2016-03-15    0.015981
2016-03-16    0.016460
2016-03-17    0.028196
2016-03-18    0.007346
2016-03-19    0.015919
2016-03-20    0.020643
2016-03-21    0.020663
2016-03-22    0.021475
2016-03-23    0.018603
2016-03-24    0.019810
2016-03-25    0.019269
2016-03-26    0.016814
2016-03-27    0.015690
2016-03-28    0.020996
2016-03-29    0.022474
2016-03-30    0.024908
2016-03-31    0.023826
2016-04-01    0.022911
2016-04-02    0.025012
2016-04-03    0.025283
2016-04-04    0.024659
2016-04-05    0.124001
2016-04-06    0.221346
2016-04-07    0.130993
Name: last_seen, dtype: float64

In [32]:
autos['last_seen'].str[:10].value_counts(normalize= True, dropna = False).sort_values()

2016-03-05    0.001082
2016-03-06    0.004370
2016-03-07    0.005390
2016-03-18    0.007346
2016-03-08    0.007491
2016-03-13    0.008948
2016-03-09    0.009655
2016-03-10    0.010758
2016-03-11    0.012465
2016-03-14    0.012631
2016-03-27    0.015690
2016-03-19    0.015919
2016-03-15    0.015981
2016-03-16    0.016460
2016-03-26    0.016814
2016-03-23    0.018603
2016-03-25    0.019269
2016-03-24    0.019810
2016-03-20    0.020643
2016-03-21    0.020663
2016-03-28    0.020996
2016-03-22    0.021475
2016-03-29    0.022474
2016-04-01    0.022911
2016-03-31    0.023826
2016-03-12    0.023930
2016-04-04    0.024659
2016-03-30    0.024908
2016-04-02    0.025012
2016-04-03    0.025283
2016-03-17    0.028196
2016-04-05    0.124001
2016-04-07    0.130993
2016-04-06    0.221346
Name: last_seen, dtype: float64

The data in the last_seen column makes sense, as we would expect more values to be seen more recently in relation to the end of the crawling data (April 7), because listings haven't been removed.

In [33]:
autos['registration_year'].describe()

count    48056.000000
mean      2004.635862
std         87.023293
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [34]:
autos = autos[autos['registration_year'].between(1990,2016)]

In [35]:
autos['registration_year'].value_counts(normalize=True)

2000    0.070217
2005    0.065275
1999    0.064473
2003    0.060065
2004    0.059976
2006    0.059353
2001    0.058640
2002    0.055256
1998    0.052518
2007    0.050292
2008    0.048822
2009    0.046173
1997    0.043346
2011    0.035309
2010    0.034774
1996    0.030522
2012    0.027539
1995    0.027205
2016    0.026849
2013    0.016564
1994    0.013892
2014    0.013291
1993    0.009395
1992    0.008170
1990    0.007636
1991    0.007480
2015    0.006968
Name: registration_year, dtype: float64

I chose 1908 as the cutoff point for early vehicles, as that was the year that the Ford Model T released. After removing the outliers, it appears the most registrations are fairly recent, late nineties to 2000s.

Edit: In the initial version of this file, I erroneously claimed that the Ford Model T was released in 1904, when it was in fact produced starting in 1908. While this did not affect the analysis, as the oldest model in the data is from 1910, I thought the edit should be disclosed.

## Exploring Price by Band

In [36]:
autos['brand'].unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'seat', 'renault', 'mercedes_benz', 'audi', 'opel', 'mazda',
       'mini', 'toyota', 'dacia', 'nissan', 'jeep', 'saab', 'volvo',
       'mitsubishi', 'fiat', 'skoda', 'subaru', 'sonstige_autos', 'kia',
       'porsche', 'citroen', 'hyundai', 'honda', 'daewoo', 'suzuki',
       'chevrolet', 'jaguar', 'land_rover', 'alfa_romeo', 'rover',
       'trabant', 'daihatsu', 'lancia', 'lada'], dtype=object)

In [37]:
autos['brand'].value_counts(normalize=True).head(20)

volkswagen       0.212454
bmw              0.110824
opel             0.109911
mercedes_benz    0.092836
audi             0.086625
ford             0.070662
renault          0.048644
peugeot          0.030990
fiat             0.025914
seat             0.018968
skoda            0.016942
nissan           0.015673
mazda            0.015651
smart            0.014716
citroen          0.014181
toyota           0.012957
hyundai          0.010419
volvo            0.009039
mini             0.009016
mitsubishi       0.008482
Name: brand, dtype: float64

It's apparent that the top brands are German (on the German eBay, that makes sense). To select brands with significance, I'll choose those with over 5% share of listings.

In [38]:
brand_count = autos['brand'].value_counts(normalize=True)
top_brand = brand_count[brand_count > 0.05].index
top_brand = list(top_brand)
print(top_brand)

['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford']

I can see top 6: 'volkswagen' is the most expensive and 'ford' is less expensive.

## Storing Aggregate Data in a DataFrame

In [39]:
mean_brand ={}
for b in top_brand:
    t = autos[autos['brand'] ==b]['price'].mean()
    mean_brand[b] = int(t)
mean_brand

{'volkswagen': 5284,
 'bmw': 7760,
 'opel': 2946,
 'mercedes_benz': 7760,
 'audi': 8451,
 'ford': 3427}

Based on the data, average prices are highest for Mercedes-Benz, Audi, and BMW, and lowest for Ford and Opel. Volkswagen sits in the middle.

In [40]:
mean_brand1 ={}
for b in top_brand:
    t = autos[autos['brand'] ==b]['odometer_km'].mean()
    mean_brand1[b] = int(t)
mean_brand1

{'volkswagen': 129351,
 'bmw': 133803,
 'opel': 129865,
 'mercedes_benz': 132278,
 'audi': 131153,
 'ford': 125351}

In [41]:
price_series = pd.Series(mean_brand).sort_values(ascending=False)
mileage_series = pd.Series(mean_brand1).sort_values(ascending=False)
df = pd.DataFrame(mileage_series, columns=["mean_mileage"])
df["mean_price"] = price_series
print(df)

               mean_mileage  mean_price
bmw                  133803        7760
mercedes_benz        132278        7760
audi                 131153        8451
opel                 129865        2946
volkswagen           129351        5284
ford                 125351        3427

Vehicle mileage across top brands is fairly similar, without too much deviation. There is not a true link between mean price and mean mileage. As BMW remains in top position with high mileage.